* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(rgb(12, 12, 44), rgb(37, 37, 68));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  max-width: 100%;
  color: white;
}
.rating-container {
  background-color: rgb(4, 3, 24);
  width: 60%;
  aspect-ratio: 1.5/0.5;
  display: flex;
  padding: 1rem;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgb(53, 51, 112);
  gap: 2rem;
}
.ratings {
  display: flex;
  gap: 1rem;
  width: 100%;
  justify-content: center;
  flex: 1;
}
.rating {
  padding: 1rem;
}
.rating:hover , .rating:focus{
    background-color: #ccc;
    border-radius: 5px;
    cursor: pointer;
}
.rating:active{
    transform: scale(0.95);
}
.active{
    background-color: #ccc;
}
.rating-icon {
  font-size: 500%;
}
.rating > small {
  text-align: center;
  display: block;
}
.rating-saver {
  padding: 1rem;
  border-style: none;
  border:2px solid rgb(5, 5, 36);
}
.rating-saver:hover,
.rating-saver:focus {
    color: white;
    background-color: black;
    transform: scale(0.95);
    transition-timing-function: linear;
    border:2px solid rgb(47, 47, 109);
}
.rating-saver:active{
    transform: scale(0.90);
    transition-timing-function: linear;
}
.greeting-icon{
  font-size: 500%;
}
